body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", Arial, Helvetica, sans-serif
}

.myLink {
    display: none
}

/* 新增左上區塊的樣式 */
.tyContainer {
    border: 2px solid white;
    width: 100px;
    position: fixed;
    z-index: 1;
}

.tyLeftSide {
    left: 0;
    top: 10vh;
}

.tyContainer div {
    border: 1px solid white;
    color: white;
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tyContainer a div:hover {
    background-color: #f44336;
}

.tyContainer a {
    text-decoration: none;
}

.tyContainer .tyTitle {
    background-color: gray;
    height: 50px;
}